/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/

body {
  text-align:centre
  display:grid;
  margin: 0;
  grid-temlate-columns:auto auto auto;
  height: 100%;
  
}
p{
   font-size: 25px;
 
}
 img{
  widith:100px;
  height:100px;
  margin-left:outo;
  margin:right;
  display:block;
}
.header{
  position:fixed;
  top : 0;
  left: 0;
  width:100%;
  padding:20px 10px;
  background; green;
}
body{
  height:100vh;
background-image:url('https://i.postimg.cc/pd19SC9D/sleepytree.jpg');
  background-size:cover;
 {
    
  }
  
  
}

.dflex {
  margin:0;
  display:flex;
  justify-content:space-evenly;
}
h1{text-align:center;
  margin:1px;
  background:line-gradient( yellow)
  


/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
h1 {text-align: center
  
}
